<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyAppDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-scroller">
      <%= render 'shared/navbar'%>
      <div class="container-fluid page-body-wrapper">
        <%= render 'shared/sidebar'%>
        <div class="main-panel">
          <div class="content-wrapper">
            <%= yield %>
          </div>
          <%= render 'shared/footer'%>
        <div>
      </div>
    </div>
  </body>
</html>

